

{template 'header.html'}

<div class="counsellors-xx">
    <h2>留学消费教育学校专家团</h2>
</div>


<div class="maketion">
    <div class="make-left">
        <h3><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">专业的留学专家</a></h3>
        <p>
            <a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">
                金吉列出国留学消费教育学校指导专家曾长期负责教育外事工作，中外教育的沟通交流。他们与国外高等院校多有接触，对国外高等教育体制、院校特色、专业设置、授课特点、文化风俗等有着深入研究。此外，他们还深谙所在国家的留学移民政策......
            </a><i><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">【点击查看更多】</a></i>
        </p>
    </div>

<style type="text/css"  >
  
.slideTxtBox{ width:757px;height: 220px; border:1px solid #ddd; text-align:left;  }
.slideTxtBox .hd{ height:30px; line-height:30px; background:#f4f4f4; padding:0 20px; border-bottom:1px solid #ddd;  position:relative; }
.slideTxtBox .hd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
.slideTxtBox .hd ul li{ float:left; padding:0 15px; cursor:pointer;  }
.slideTxtBox .hd ul li.on{ height:30px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
	
.slideTxtBox .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBox .bd li{ height:24px; line-height:24px;   }
.slideTxtBox .bd li .date{ float:right; color:#999;  }
</style>
   
<div class="make-right">

        <div class="slideTxtBox">
					<div class="hd">
						<ul><li>教育</li><li>培训</li><li>出国</li></ul>
					</div>
					<div class="bd">
						<ul>
							<li><a href="http://www.SuperSlide2.com" target="_blank">SuperSlide2.0正式发布！</a></li>
							...
						</ul>
						<ul>
							<li><a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a></li>
							...
						</ul>
						<ul>
							<li><a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a></li>
							...
						</ul>
    </div>
</div>

        
</div>
    <script type="text/javascript">jQuery(".slideTxtBox").slide(); </script>
<!--=============================================-->
   
   
   <div class="maketion">
<div class="make-left" style="margin-top: 10px">
        <h3><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">专业的留学专家</a></h3>
        <p>
            <a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">
                金吉列出国留学消费教育学校指导专家曾长期负责教育外事工作，中外教育的沟通交流。他们与国外高等院校多有接触，对国外高等教育体制、院校特色、专业设置、授课特点、文化风俗等有着深入研究。此外，他们还深谙所在国家的留学移民政策......
            </a><i><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">【点击查看更多】</a></i>
        </p>
    </div>

  <style type="text/css">
	  

	  
/* 本例子css */
		.picMarquee-left{ width:757px; height: 220px; overflow:hidden; position:relative;  border:1px solid #ccc;   }
		.picMarquee-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
		.picMarquee-left .hd .prev,.picMarquee-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
			 cursor:pointer; background:url("../images/arrow.png") no-repeat;}
		.picMarquee-left .hd .next{ background-position:0 -50px;  }
		.picMarquee-left .hd .prevStop{ background-position:-60px 0; }
		.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }
		.picMarquee-left .bd{ padding:10px;   }
		.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
		.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
		.picMarquee-left .bd ul li .pic{ text-align:center; }
		.picMarquee-left .bd ul li .pic img{ width:120px; height:140px; display:block; padding:4px; border:1px solid #ccc; }
		.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
		.picMarquee-left .bd ul li .title{ line-height:24px;   }
	  
</style>
   
<div class="make-right">

<div class="picMarquee-left">
			<div class="hd">
				<a class="next"></a>
				<a class="prev"></a>
			</div>
			<div class="bd">
				<ul class="picList">
							{tag_产品中心显示缩略图像}
				</ul>
	       </div>			
  </div>
</div>

        

<script type="text/javascript">
		jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:5,interTime:50});
		</script>

<!--=============================================-->
<div class="counsellors-xxx">
    <h2>留学消费教育学校专家团</h2>
</div>


<div class="maketion-xxx">
    <div class="make-left-xxx">
        <h3><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">专业的留学专家</a></h3>
        <p>
            <a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">
                金吉列出国留学消费教育学校指导专家曾长期负责教育外事工作，中外教育的沟通交流。他们与国外高等院校多有接触，对国外高等教育体制、院校特色、专业设置、授课特点、文化风俗等有着深入研究。此外，他们还深谙所在国家的留学移民政策......
            </a><i><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">【点击查看更多】</a></i>
        </p>
    </div>

<style type="text/css"  >
  
.slideTxtBox{ width:757px;height: 220px; border:1px solid #ddd; text-align:left;  }
.slideTxtBox .hd{ height:30px; line-height:30px; background:#f4f4f4; padding:0 20px; border-bottom:1px solid #ddd;  position:relative; }
.slideTxtBox .hd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
.slideTxtBox .hd ul li{ float:left; padding:0 15px; cursor:pointer;  }
.slideTxtBox .hd ul li.on{ height:30px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
	
.slideTxtBox .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBox .bd li{ height:24px; line-height:24px;   }
.slideTxtBox .bd li .date{ float:right; color:#999;  }
</style>
   
<div class="make-right-xxx">

        <div class="slideTxtBox">
					<div class="hd">
						<ul><li>教育</li><li>培训</li><li>出国</li></ul>
					</div>
					<div class="bd">
						<ul>
							<li><a href="http://www.SuperSlide2.com" target="_blank">SuperSlide2.0正式发布！</a></li>
							...
						</ul>
						<ul>
							<li><a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a></li>
							...
						</ul>
						<ul>
							<li><a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a></li>
							...
						</ul>
    </div>
</div>

        
</div>
    <script type="text/javascript">jQuery(".slideTxtBox").slide(); </script>


   <!--=============================================-->
    <!--<div class="make-right">-->
        <!--<div class="hotPic">-->
            <!--<div class="JQ-slide">-->
                <!--<div class="JQ-slide-nav">-->
                    <!--<a class="prev" href="javascript:void(0);">‹</a>-->
                    <!--<a class="next" href="javascript:void(0);">›</a>-->
                <!--</div>-->
                <!--<div class="wrap">-->
                    <!--<ul class="JQ-slide-content imgList">-->
                        <!--{tag_产品中心显示缩略图像}-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--/* 用按钮控制图片左右滚动 */-->
            <!--$(".hotPic .JQ-slide").Slide({-->

                <!--effect: "scroolX",-->
                <!--autoPlay: true,-->
                <!--speed: "normal",-->
                <!--timer: 3000,-->
                <!--defIndex: 0,-->
                <!--claNav: "JQ-slide-nav",-->
                <!--claCon: "JQ-slide-content",-->
                <!--steps: 5-->
            <!--});-->

        <!--});-->
    <!--</script>-->


    <div class="con1">
        <div class="con1left">
            <div class="title1">
                {tag_首页第一行左侧栏目}
            </div>
            <div class="newstop">
                {tag_首页第一行左侧栏目图文头条}
            </div>
            <ul class="newsul">
                {tag_首页第一行左侧栏目列表3条}
            </ul>
        </div>
        <div class="con1right">
            <div class="title2">
                {tag_首页第一行右侧栏目}
            </div>
            <ul class="experts">
                {tag_首页第一行右侧栏目图文2条}
            </ul>
        </div>
    </div>
    <div class="con2">
        <div class="con2title">
            {tag_首页第二行栏目}
        </div>
        <div class="con2_class">
            {tag_首页第二行子栏目}
        </div>
        <ul class="product">
            {tag_首页第二行栏目图片4条}
        </ul>
    </div>
    <div class="con3">
        <div class="con3left">
            <div class="title1">
                {tag_首页第三行左侧栏目}
            </div>
            <script language="JavaScript" type="text/javascript" src="{$skin_path}/js/xFocus.o.js"></script>
            <script language="JavaScript" type="text/javascript" src="{$skin_path}/js/nav.js"></script>
            <div class="con3_about">
                <div class="focus2" id="focus2">
                    {tag_首页第三行左侧栏目图片4条}
                </div>
                <div class="con3_con">{tag_首页第三行栏目说明}</div>
            </div>
        </div>
        <div class="con3right">
            <div class="title2">
                {tag_首页第三行右侧栏目}
            </div>
            <div class="con3_contact">
                {tag_首页第三行右侧栏目图片}
            </div>
        </div>
    </div>


    {template 'footer.html'}