{template 'header.html'}

<div class="counsellors-xx">
    <h2>留学消费教育学校专家团</h2>
</div>


<div class="maketion">
    <div class="make-left"> 
        <h3><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">专业的留学专家</a></h3>
        <p>
           <a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">
            金吉列出国留学消费教育学校指导专家曾长期负责教育外事工作，中外教育的沟通交流。他们与国外高等院校多有接触，对国外高等教育体制、院校特色、专业设置、授课特点、文化风俗等有着深入研究。此外，他们还深谙所在国家的留学移民政策......
        </a><i><a href="http://www.jjl.cn/zt/2015/zonghe/20150831_canzan/default.shtml" target="_blank">【点击查看更多】</a></i>
		</p>
    </div>
  
<script type="text/javascript">  
$(function (){  
      
    /* 用按钮控制图片左右滚动 */  
    $(".hotPic .JQ-slide").Slide({  
        effect:"scroolLoop",  
        autoPlay:false,  
        speed:"normal",  
        timer:3000,  
        steps:1  
    });  
      
});  
</script>  


<style type="text/css">
/* CSS Document */
*{margin:0;padding:0;}
ul,ol{list-style:none outside;}
img{border:0 none;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body{font:12px/1.5 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:14px;}
a:link, a:visited{text-decoration:none;}
a:hover, a:focus, a:active{text-decoration:underline;}
a:focus, a:active{outline:none;}
.lft{float:left;display:inline;}
.rgt{float:right;display:inline;}
.clearfix:after{visibility:hidden;display:block;font-size:1px;content:" ";clear:both;height:0;}
*html .clearfix{zoom:1;} /* IE6 */
*:first-child+html .clearfix{zoom:1;}
.layout{padding:0 0 0 40px;}
.layout  h2{margin:20px 0 20px 0;font-size:14px;}


/*------ 图片左右滚动 ---------*/
/* hot picture */
.hotPic{margin:0 0 0 40px;}
.hotPic .JQ-slide{position:relative;width:490px;height:142px;margin:0 0 15px 0;background:#f9f9f9;padding:10px 35px;}
.hotPic .JQ-slide .wrap{width:490px;height:142px;overflow:hidden;position:relative;}
.hotPic .JQ-slide-content{position:absolute;}/*必须要的元素*/
.hotPic .imgList li{width:152px;margin:0 5px;}
.hotPic .imgList img{width:140px;height:100px;}
.hotPic .imgList .txt{height:30px;line-height:30px;}
.hotPic .JQ-slide-nav a{display:block;z-index:99;width:48px;height:48px;overflow:hidden;text-indent:-999em;text-decoration:none;position:absolute;top:40px;background:url(images/arrow_pic.png) no-repeat;}
.hotPic .JQ-slide-nav a.prev{left:-20px;background-position:0 0;}
.hotPic .JQ-slide-nav a.prev:hover{background-position:-100px 0;}
.hotPic .JQ-slide-nav a.next{right:-20px;background-position:-50px 0;}
.hotPic .JQ-slide-nav a.next:hover{background-position:-150px 0;}
/* imgList */
.imgList{float:none;overflow:hidden;zoom:1}
.imgList li{float:left;display:inline;overflow:hidden;}
.imgList li a{display:block;}
.imgList li .img{border:1px solid #d8d8d8;padding:5px;}
.imgList li a.img:hover{border-color:#b70000;}
.imgList li .txt{text-align:center;overflow:hidden;}
</style>


 <div class="layout">  
    <div class="hotPic">  
        <div class="JQ-slide">  
            <div class="JQ-slide-nav"><a class="prev" href="javascript:void(0);">‹</a><a class="next" href="javascript:void(0);">›</a></div>  
            <div class="wrap">  
                <ul class="JQ-slide-content imgList">  
                    <li>  
                        <a href="#" class="img"><img src="{$skin_path}/images/navbg1.png" width="140" height="100" /></a>  
                        <a href="#" class="txt">二连浩特</a>  
                    </li>  
                    <li>  
                        <a href="#" class="img"><img src="{$skin_path}/images/navbg2.png" width="140" height="100" /></a>  
                        <a href="#" class="txt">大连</a>  
                    </li>  
                    <li>  
                        <a href="#" class="img"><img src="{$skin_path}/images/navbg3.png" width="140" height="100"  /></a>  
                        <a href="#" class="txt">三亚</a>  
                    </li>  
                    <li>  
                        <a href="#" class="img"><img src="{$skin_path}/images/navbg1.png" width="140" height="100"  /></a>  
                        <a href="#" class="txt">丹东</a>  
                    </li>  
                    <li>  
                        <a href="#" class="img"><img src="{$skin_path}/images/navbg1.png" width="140" height="100" /></a>  
                        <a href="#" class="txt">中山</a>  
                    </li>  
                  
                </ul>  
            </div>  
        </div>  
    </div>    
</div>          
   
   
    <div class="make-right">
        <div class="sliders">
            <div class="slider-img">
                <ul class="slider-img-ul" style="left: 15px;"> 
{tag_产品中心显示缩略图像}
				
                </ul>
            </div>
        <a href="javascript:" class="slider-btn slider-btn-left"></a>
        <a href="javascript:" class="slider-btn slider-btn-right"></a>
					<div class="slider-dot">
						 <ul>
								 <li class="active"></li>
								 <li class=""></li>
								 <li class=""></li>
						 </ul>
					</div>
        </div>
    </div>
</div>


<div class="con1">
    <div class="con1left">
        <div class="title1">
            {tag_首页第一行左侧栏目}
        </div>
        <div class="newstop">
            {tag_首页第一行左侧栏目图文头条}
        </div>
        <ul class="newsul">
        	           {tag_首页第一行左侧栏目列表3条}
                    </ul>
    </div>
    <div class="con1right">
        <div class="title2">
            {tag_首页第一行右侧栏目}
        </div>
        <ul class="experts">
        	            {tag_首页第一行右侧栏目图文2条}
                    </ul>
    </div>
</div>
<div class="con2">
    <div class="con2title">
        {tag_首页第二行栏目}
    </div>
    <div class="con2_class">
		           {tag_首页第二行子栏目}
            </div>
    <ul class="product">
                {tag_首页第二行栏目图片4条}
		    </ul>
</div>
<div class="con3">
    <div class="con3left">
        <div class="title1">
           {tag_首页第三行左侧栏目}
        </div>
		<script language="JavaScript" type="text/javascript" src="{$skin_path}/js/xFocus.o.js"></script>
		<script language="JavaScript" type="text/javascript" src="{$skin_path}/js/nav.js"></script>
        <div class="con3_about">
            <div class="focus2" id="focus2">
				                {tag_首页第三行左侧栏目图片4条}
                            </div>
            <div class="con3_con">{tag_首页第三行栏目说明}</div>
        </div>
    </div>
    <div class="con3right">
        <div class="title2">
            {tag_首页第三行右侧栏目}
        </div>
        <div class="con3_contact">
            {tag_首页第三行右侧栏目图片}
        </div>
    </div>
</div>


{template 'footer.html'}