{template 'header.html'}
<div class="box box2">
<div class="box2_t"></div>
<div class="box2_b"></div>
<div class="left">
{template 'left.html'}
</div>
<div class="right">
<div class="right_t"></div>
<div class="right_b"></div>
<div class="title20">
{template 'position.html'}
<h5>{$special[title]}</h5><span></span>
</div>
<div id="content">





<div class="blank30"></div>
<!-- 专题图片 -->
<img src="{$special[banner]}" style="float:left;margin:0px 20px 20px 0px;" />
<!-- 专题介绍 -->
{$special[description]}

<div class="line_2"></div><div class="blank30"></div>

<!-- 内容列表开始 -->
<ul class="news_list">
{loop $archives $i $sp}
<li><span class="date pc_show">{$sp[adddate]}</span><a title="{$sp[title]}" target="_blank" href="{$sp[url]}">{$sp[title]}</a></li>
{/loop}
</ul>
<!-- 内容列表结束 -->

<div class="blank30"></div>

<!-- 列表分页开始 -->
{if isset($pages)}
{special::pagination($tag)}
{/if}
<!-- 列表分页结束 -->

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
<div class="blank30"></div>
<div class="clear"></div>
</div>
</div>
<!-- 右侧结束 -->

<div class="c_bottom"></div>
<div class="clear"></div>
</div>
<!-- 中部结束 -->


{template 'width_max.html'}

{template 'footer.html'}