@charset "utf-8";
/* CSS Document */
/*!*金吉列留学参、大师专家团*!*/

/*  2.13实用焦点图    start*/
/* 本例子css */
.focusBoxAll{
	width: 1000px;
	height: 312;
	margin: 0px auto;
}
.focusleft{
	float: left;
}
	.focusBox {
	position: relative;
	width: 482px;
	height: 302px;
	overflow: hidden;
	font: 12px/1.5 Verdana, Geneva, sans-serif;
	text-align: left;
	background: white;
	border: 1px solid #E3E3E3;
}
	.focusBox .pic img { width: 480px; height: 300px; display: block; }
	.focusBox .txt-bg { position: absolute; bottom: 0; z-index: 1; height: 36px; width:100%;  background: #333; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; }
	.focusBox .txt { position: absolute; bottom: 0; z-index: 2; height: 36px; width:100%; overflow: hidden; }
	.focusBox .txt li{ height:36px; line-height:36px; position:absolute; bottom:-36px;}
	.focusBox .txt li a{ display: block; color: white; padding: 0 0 0 10px; font-size: 12px; font-weight: bold; text-decoration: none; }
	.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 8px; }
	.focusBox .num li{ float: left; position: relative; width: 18px; height: 15px; line-height: 15px; overflow: hidden; text-align: center; margin-right: 1px; cursor: pointer; }
	.focusBox .num li a,.focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; }
	.focusBox .num li span { z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5; }
	.focusBox .num li.on a,.focusBox .num a:hover{ background:#f60;  }

/*  2.13实用焦点图    end*/

.focusBoxAll .focusRight {
	width: 450px;
   	overflow: hidden;
	margin-left: 20px;
	float: left;
	
}
.focusBoxAll .focusRight .title2 {
	background:url(images/title2.jpg) 0 0 no-repeat;width:414px;height:40px;margin-bottom:20px
}
.focusBoxAll .focusRight .experts {	width:100%;}
.focusBoxAll .focusRight .experts li{
	width: 100%;
	height: 30px;
	
	font-size: 15px;
	line-height: 30px;
	text-align: left;
	border-bottom: 1px dotted #EBEBEB;
}
}
/*名师团队--照片start*/
.scrollBox{ width:1000px;  background:url(images/scrollBg.png) ;padding:10px;border-top:1px solid #fff; position:relative; }
	.scrollBox .piclist{ overflow:hidden; zoom:1;}
	.scrollBox .ohbox{overflow:hidden; position:relative;width:880px;left:60px}
	.scrollBox {position:relative;overflow:hidden;zoom:1;}
	.scrollBox .piclist li{float:left; display:inline; width:200px;background:#fff;border:1px solid #c9bea9;margin-right:10px;padding:5px;}
	.scrollBox .piclist li span{height:25px;line-height:25px;display:block;text-align:center;   }

/*		.scrollBox .pageBtn span{ background:url(images/bntBg.png) no-repeat; display:block;width:37px;height:59px;position:absolute;top:72px;cursor:pointer;text-indent:-999em;overflow:hidden; }
	.scrollBox .pageBtn .prev{left:20px;background-position:-11px -84px ;}
	.scrollBox .pageBtn .next{right:20px;background-position:-53px -84px ;}*/

	.scrollBox .pageBtn span,.scrollBox .pageBtn .prev,.scrollBox .pageBtn .next{ display:block;  position:absolute; z-index:1; top:50%;left: 1%; margin-top:-30px; z-index:1; width:40px; height:60px; background:url(images/slider-arrow.png) -126px -137px #000 no-repeat;  cursor:pointer; filter:alpha(opacity=50);opacity:0.5; display:none;  }
	
	.scrollBox .pageBtn .next{left:auto; right:1%; background-position:-6px -137px;}






	.scrollBox .pageBtn .list{overflow:hidden;zoom:1;margin:10px 0 0 413px; }
	.scrollBox .pageBtn .list li{ background:url(images/bntBg.png); float:left; display:inline; width:15px;height:15px;background-position:-86px -57px ;cursor:pointer;margin-left:10px;line-height:10000px;overflow:hidden;  }
	.scrollBox .pageBtn .list li.on{background-position:-114px -end}


/*名师团队--照片end*/

.test {
	width: 1000px;
	height: 300px;
	display: block;
	float: none;
	background-color: #00B0FB;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 440px;
}

.counsellors_huandeng{
	width: 1000px;
	
	/*text-align: center;*/
	
	margin: 0 auto 20px auto;
	line-height: 40px;
	float: none;        /*display: block;*/
    }

    .slideTxtBox_huandeng {
        width: 100%;
        text-align: center;
    }

     .hd {
	width: 100%;
        
    height: 62px;
    line-height: 40px;
    background-image: url(images/banner_hu.png);
    position: relative;
    background-repeat: no-repeat;
   
    }



    .counsellors_xxx {
	width: 1000px;
	height: 40px;
	/*text-align: center;*/
	background: #efefef;
	margin: 0 auto 20px auto;
	line-height: 40px;
	float: none;        /*display: block;*/
    }

    .counsellors_xxx h2 {
        height: 40px;
        width: 240px;
        background: #F07226;
        float: left;
        line-height: 40px;
        color: #FFFFFF;

    }


    .maketion_xxx {
        width: 1000px;
        height: 400px;
        /*margin: 20px auto;*/
       

    }

    .make_left_xxx {
        width:380px;
        height: 400px;
        border: 1px solid #dcdcdc;
        float: left;
    }

    .make_right_xxx {
        width:600px;
        height: 400px;
        border: 1px solid #dcdcdc;
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        /*position: relative;*/
        text-align: center;
    }

    /* 本例子css */
    .slideTxtBox {
        width: 100%;

        text-align: center;
    }

    .slideTxtBox .hd {
        height: 40px;
        line-height: 40px;
        background: #f4f4f4;
        border: 1px solid #ddd;
        /*padding: 0 10px 0 20px;*/
        /*border-bottom: 1px solid #ddd;*/
        position: relative;
    }

    .slideTxtBox .hd ul {
        height: 40px;
        /*width: 540px;*/
        /*background: #b2afb6;*/
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
        line-height: 40px;
        float: right;
    }

    .slideTxtBox .hd ul li {
        float: left;
        height: 40px;
        width: 100px;
        padding: 0 15px;
        cursor: pointer;
        background: #b2afb6;
        text-align: center;
    }

    .slideTxtBox .hd ul li.on {
        height: 40px;
        background: #fff;
        /*border: 1px solid #ddd;*/
        /*border-bottom: 2px solid #fff;*/
    }

    .slideTxtBox .bd{
        /*float: left;*/
        height: 400px;
        width: 1180px;
        /*margin: 20px 0px;*/
        margin: 20px auto;

    }

    .slideTxtBox .bd ul {
        /*width: 100%;*/
        /*height: 518px;*/
        /*border: 1px solid #dcdcdc;*/
        /*position: relative;*/
        /*padding: 15px;*/
        /*zoom: 1;*/

    }

    .slideTxtBox .bd li {
        width: 100%;
        height: 400px;
        float: left;
    }

    .slideTxtBox .bd li .date {
        /*float: right;*/
        color: #999;
    }


/*f2改版*/
.counsellors-xx{
	width:1180px;
	height: 40px;
	background: #efefef;
	margin: 20px auto;
	line-height: 40px;
	
}
.counsellors-xx h2{
	height: 40px;
	width: 240px;
	float: left;
	background: #e84444;
	padding-left: 20px;
	line-height: 40px;
	color: #FFFFFF;
}

.maketion{
	width:1180px;
	height: 220px;
	margin: 0 auto;

}
.make-left{
	width:398px;
	height:218px;
	border: 1px solid #dcdcdc;
	float: left;
}
.make-left h3{
	font-size: 16px;
	margin: 20px 20px 8px 20px;
}
.make-left h3 a{
	color: #e84444;
}
.make-left p{
	font-size: 14px;
	margin-top: 0;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0;
	line-height: 30px;
}
.make-left p a{
    color: #666666;
}
.make-left p i a{
	float: right;
	color: #e84444;
}
.sliders .slider-img .slider-img-ul li img{
	width:118px;
	height: 105px;
}
.make-right{
	width:757px;
	height: 220px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
	text-align:center;
}



/*轮播*/
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.counsellors_huandeng .blank10 {
	float: left;
	clear: both;
	display: block;
	width: 1000px;
	height: 10px;
}

.counsellors_huandeng .hd h2 {
    color: #FFFCFC;
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    top: 15px;
}
