{template 'header.html'}
<div class="box box2">
<div class="box2_t"></div>
<div class="box2_b"></div>
<div class="left">
{template 'left.html'}


</div>
<div class="right">
<div class="right_t"></div>
<div class="right_b"></div>

			<div class="title20">
				{template 'position.html'}
				<h5>{lang(search)}</h5><span>Search</span>
			</div>
<div id="content">

<h1 style="margin:20px;"><span style="color:red;font-weight:bold;"> “{$keyword}” </span>{lang(searchresults)}：</h1>



<div class="blank30"></div>

<!-- 列表结束 -->
<ul class="news_list">
{loop $articles $article}
{cb_data($article)}
<li>[<a href="{$article[caturl]}">&nbsp;{$article[catname]}&nbsp;</a>]&nbsp;-&nbsp;<a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<font style=color:red;font-weight:bold;>$keyword</font>",$article['title']); else { ?>{$article[title]}<?php } ?></a> <span>{$article['adddate']}</span>
{/loop}
</ul>
<!-- 列表结束 -->

<div class="blank10"></div>

<!-- 列表分页开始 -->
<div class="pages">
<?php echo pagination::html($record_count,5); ?>
</div>
<!-- 列表分页结束 -->

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
<div class="blank30"></div>
<div class="clear"></div>
</div>
</div>
<!-- 右侧结束 -->

<div class="c_bottom"></div>
<div class="clear"></div>
</div>
<!-- 中部结束 -->
{template 'footer.html'}